// *----------------------------------*\
//  Settings
// *----------------------------------*/

@use 'spaces' as spaces;
@use 'colors' as colors;
@use 'type' as type;
@use 'breakpoints' as breakpoints;
@use 'global' as global;
