// *----------------------------------*\
// Elements
// *----------------------------------*/

@use 'body' as body;
@use 'fonts' as fonts;
@use 'links' as links;
@use 'image' as image;
@use 'hr' as hr;
@use 'type' as type;
@use 'blockquote' as blockquote;
@use 'code' as code;
@use 'input' as input;
