/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/spaces' as *;

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $color-gray;
}