/*------------------------------------*\
  Elements > hr
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/spaces' as *;
@use '../tools/functions' as *;

hr {
  height: 1px;
  margin: double($base-spacing-unit) 0;

  border: 0;

  background-color: $color-border;
}