/*------------------------------------*\
  Elements > Links
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/global' as *;
@use '../tools/mixins' as *;

a {
  text-decoration: none;
  color: $color-link;
  transition: $global-transition;

  @include attention() {
    text-decoration: underline;
  }
}