/*------------------------------------*\
  Components > Content
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../tools/mixins' as *;

.c-content {
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}