/*------------------------------------*\
  Components > Media Embed
\*------------------------------------*/
@use '../settings/spaces' as *;

.twitter-tweet,
.fluid-width-video-wrapper {
  margin-bottom: $base-spacing-unit !important;
}