/*------------------------------------*\
  Components > Header
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/spaces' as *;

.c-header {
  &__inner {
    padding: $base-spacing-unit 0;
    border-bottom: 1px solid $color-border;
  }

  &__icon {
    vertical-align: middle;
  }
}