/*------------------------------------*\
  Components > Logo
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/global' as *;
@use '../settings/type' as *;
@use '../tools/mixins' as *;

.c-logo {
  &__link {
    font-size: $font-size-base;
    font-weight: $font-weight-bolder;
    transition: $global-transition;

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}