/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/global' as *;
@use '../settings/type' as *;
@use '../tools/mixins' as *;

.c-nav {
  &__item {
    font-size: $font-size-medium;
  }

  &__link {
    display: block;
    transition: $global-transition;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}