/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/
@use '../settings/colors' as *;
@use '../settings/global' as *;
@use '../tools/mixins' as *;

.c-social-nav {
  &__item {
    display: inline-block;
  }

  &__icon {
    fill: $color-text;
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }
}