/*------------------------------------*\
  Components > Tags
\*------------------------------------*/
@use '../settings/breakpoints' as *;
@use '../settings/colors' as *;
@use '../settings/global' as *;
@use '../settings/spaces' as *;
@use '../settings/type' as *;
@use '../tools/functions' as *;
@use '../tools/mixins' as *;
@use '../tools/mq' as *;

.c-tags {
  a {
    display: inline-block;
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0 half($base-spacing-unit) quarter($base-spacing-unit) 0;

    font-size: $font-size-tiny;
    font-family: $font-base;
    line-height: $line-height-medium;

    background-color: $bg-color-gray;
    transition: $global-transition;

    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}