// *----------------------------------*\
// Tools > Functions
// *----------------------------------*/

@use 'sass:math';

@function half($n) {
  @return math.round(calc($n / 2));
}

@function quarter($n) {
  @return math.round(calc($n / 4));
}

@function double($n) {
  @return math.round(calc($n * 2));
}

@function quadruple($n) {
  @return math.round(calc($n * 4));
}
